<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/customer-layout.html}">

<head>
</head>

<body>
	<main id="content" layout:fragment="content">
		<section class="mx-0 slick-slider slider"
			data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":true,"dots":false,"arrows":false,"fade":true,"cssEase":"ease-in-out","speed":600}'>
			<div class="box px-0">
				<div class="bg-img-cover-center py-12 py-lg-18"
					style="background-image: url('images/bg-slider-11.jpg');">
					<div class="container container-xl pt-8 pb-7">
						<div data-animate="fadeInDown">
							<p class="text-primary mb-6 fs-24 font-weight-600">New
								Collection</p>
							<h1 class="mb-7 fs-36 fs-md-48 lh-116">
								Get The Skin <br> You Want To Feel
							</h1>
						</div>
						<a href="shop-page-04.html"
							class="btn btn-link bg-transparent text-secondary border-secondary border-bottom border-0 rounded-0 p-0 fs-16 font-weight-600 border-2x"
							data-animate="fadeInUp"> Discover now <svg
								class="icon icon-arrow-right">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
						</a>
					</div>
				</div>
			</div>
			<div class="box px-0">
				<div class="bg-img-cover-center py-12 py-lg-18"
					style="background-image: url('images/bg-slider-12.jpg');">
					<div class="container container-xl pt-8 pb-7">
						<div data-animate="fadeInDown">
							<p class="text-primary mb-6 fs-24 font-weight-600">The pearl
								glow</p>
							<h1 class="mb-7 fs-36 fs-md-48 lh-116">
								Let's Introduce Skin <br> with The Shine
							</h1>
						</div>
						<a href="shop-page-04.html"
							class="btn btn-link bg-transparent text-secondary rounded-0 border-secondary border-bottom border-0 p-0 fs-16 font-weight-600 border-2x"
							data-animate="fadeInUp"> Discover now <svg
								class="icon icon-arrow-right">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
						</a>
					</div>
				</div>
			</div>
			<div class="box px-0">
				<div class="bg-img-cover-center py-12 py-lg-18"
					style="background-image: url('images/bg-slider-13.jpg');">
					<div class="container container-xl pt-8 pb-7">
						<div data-animate="fadeInDown">
							<p class="text-primary mb-6 fs-24 font-weight-600">Get the
								glow</p>
							<h1 class="mb-7 fs-36 fs-md-48 lh-116">
								Love Your Skin<br> Naturally
							</h1>
						</div>
						<a href="shop-page-04.html"
							class="btn btn-link bg-transparent text-secondary border-secondary rounded-0 border-bottom border-0 p-0 fs-16 font-weight-600 border-2x"
							data-animate="fadeInUp"> Discover now <svg
								class="icon icon-arrow-right">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="py-10 py-lg-12">
			<div class="container container-xl">
				<div class="row">
					<div class="col-12 text-center mb-7">
						<h2 class="fs-34 mb-3" data-animate="fadeInUp">Shop by
							Categories</h2>
						<p class="fs-18" data-animate="fadeInUp">Our products are
							designed for everyone.</p>
					</div>
					<div class="col-12 col-lg-6">
						<div class="card border-0 text-center hover-shine hover-zoom-in"
							data-animate="fadeInUp">
							<img src="images/banner-18.jpg" alt="" class="card-img">
							<div
								class="card-img-overlay d-inline-flex flex-column p-5 justify-content-end">
								<div>
									<a href="#"
										class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1">Skincare
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="row">
							<div class="col-md-6 mt-6 mt-lg-0">
								<div class="card border-0 text-center hover-shine hover-zoom-in"
									data-animate="fadeInUp">
									<img src="images/banner-15.jpg" alt="" class="card-img">
									<div
										class="card-img-overlay d-inline-flex flex-column p-5 justify-content-end">
										<div>
											<a href="#"
												class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1">Bodycare
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 mt-6 mt-lg-0">
								<div class="card border-0 text-center hover-shine hover-zoom-in"
									data-animate="fadeInUp">
									<img src="images/banner-16.jpg" alt="" class="card-img">
									<div
										class="card-img-overlay d-inline-flex flex-column p-5 justify-content-end">
										<div>
											<a href="#"
												class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1">Makeup
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 mt-6">
								<div class="card border-0 text-center hover-shine hover-zoom-in"
									data-animate="fadeInUp">
									<img src="images/banner-17.jpg" alt="" class="card-img">
									<div
										class="card-img-overlay d-inline-flex flex-column p-5 justify-content-end">
										<div>
											<a href="#"
												class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1">Haircare
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pb-lg-12 pb-11">
			<div class="container container-xl">
				<h2 class="text-center mb-3" data-animate="fadeInUp">Our
					Bestsellers</h2>
				<p class="fs-18 mw-460 mb-9 pb-xl-1 mx-auto text-center"
					data-animate="fadeInUp">Looking for something specific? Shop by
					category to find your perfect piece of jewellery!</p>
				<div class="slick-slider mx-n2"
					data-slick-options='{"slidesToShow": 4,"dots":false,"arrows":true,"responsive":[{"breakpoint": 1368,"settings": {"arrows":false,"dots":true}},{"breakpoint": 1200,"settings": {"slidesToShow":3,"arrows":false,"dots":true}},{"breakpoint": 992,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"arrows":false,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-07.jpg" alt="Facial cleanser">
								<div class="card-img-overlay d-flex p-3">
									<div>
										<span class="badge badge-primary">-20%</span>
									</div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span
										class="fs-13 font-weight-500 text-decoration-through text-body pr-1">$39.00</span>
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Facial cleanser</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-02.jpg"
									alt="Bio-shroom Rejuvenating Serum">
								<div class="card-img-overlay d-flex p-3">
									<div></div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Bio-shroom Rejuvenating
										Serum</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-03.jpg"
									alt="Coffee Bean Caffeine Eye Cream">
								<div class="card-img-overlay d-flex p-3">
									<div>
										<span class="badge badge-warning">New</span>
									</div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Coffee Bean Caffeine Eye
										Cream</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-05.jpg"
									alt="Coffee Bean Caffeine Eye Cream">
								<div class="card-img-overlay d-flex p-3">
									<div>
										<span class="badge badge-primary">-20%</span>
									</div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Coffee Bean Caffeine Eye
										Cream</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-07.jpg"
									alt="Coffee Bean Caffeine Eye Cream">
								<div class="card-img-overlay d-flex p-3">
									<div>
										<span class="badge badge-primary">-20%</span>
									</div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span
										class="fs-13 font-weight-500 text-decoration-through text-body pr-1">$39.00</span>
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Coffee Bean Caffeine Eye
										Cream</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-04.jpg" alt="Facial cleanser">
								<div class="card-img-overlay d-flex p-3">
									<div></div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Facial cleanser</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pt-11 pb-xl-9 pb-5" style="background-color: #f7f7f7">
			<div class="container container-xl">
				<div class="row">
					<div class="col-xl-3 col-md-6">
						<div
							class="card bg-transparent border-0 align-items-center text-center mb-xl-0 mb-6"
							data-animate="fadeInUp">
							<div class="card-img">
								<svg class="icon icon-box-01 fs-70 text-primary">
                                    <use xlink:href="#icon-box-01"></use>
                                </svg>
							</div>
							<div class="card-body text-center">
								<h3 class="card-title fs-20 mb-2">Free Shipping</h3>
								<p class="cart-text fs-18 mb-0">Free Shipping for orders
									over $130</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div
							class="card bg-transparent border-0 align-items-center text-center mb-xl-0 mb-6"
							data-animate="fadeInUp">
							<div class="card-img">
								<svg class="icon icon-box-02 fs-70 text-primary">
                                    <use xlink:href="#icon-box-02"></use>
                                </svg>
							</div>
							<div class="card-body text-center">
								<h3 class="card-title fs-20 mb-2">Returns</h3>
								<p class="cart-text fs-18 mb-0">Within 30 days for an
									exchange.</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div
							class="card bg-transparent border-0 align-items-center text-center mb-xl-0 mb-6"
							data-animate="fadeInUp">
							<div class="card-img">
								<svg class="icon icon-box-03 fs-70 text-primary">
                                    <use xlink:href="#icon-box-03"></use>
                                </svg>
							</div>
							<div class="card-body text-center">
								<h3 class="card-title fs-20 mb-2">Online Support</h3>
								<p class="cart-text fs-18 mb-0">24 hours a day, 7 days a
									week</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div
							class="card bg-transparent border-0 align-items-center text-center mb-xl-0 mb-6"
							data-animate="fadeInUp">
							<div class="card-img">
								<svg class="icon icon-box-04 fs-70 text-primary">
                                    <use xlink:href="#icon-box-04"></use>
                                </svg>
							</div>
							<div class="card-body text-center">
								<h3 class="card-title fs-20 mb-2">Flexible Payment</h3>
								<p class="cart-text fs-18 mb-0">Pay with Multiple Credit
									Cards</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pt-lg-12 pt-10">
			<div class="container container-xl">
				<h2 class="text-center mb-3" data-animate="fadeInUp">New
					Arrivals</h2>
				<p class="fs-18 mw-460 mb-9 pb-xl-1 mx-auto text-center"
					data-animate="fadeInUp">Looking for something specific? Shop by
					category to find your perfect piece of jewellery!</p>
				<div class="slick-slider mx-n2"
					data-slick-options='{"slidesToShow": 5,"dots":false,"arrows":true,"responsive":[{"breakpoint": 1368,"settings": {"arrows":false,"dots":true}},{"breakpoint": 1200,"settings": {"slidesToShow":3,"arrows":false,"dots":true}},{"breakpoint": 992,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"arrows":false,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-09.jpg" alt="Facial cleanser">
								<div class="card-img-overlay d-flex p-3">
									<div>
										<span class="badge badge-primary">-20%</span>
									</div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span
										class="fs-13 font-weight-500 text-decoration-through text-body pr-1">$39.00</span>
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Facial cleanser</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-05.jpg"
									alt="Bio-shroom Rejuvenating Serum">
								<div class="card-img-overlay d-flex p-3">
									<div></div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Bio-shroom Rejuvenating
										Serum</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-11.jpg"
									alt="Coffee Bean Caffeine Eye Cream">
								<div class="card-img-overlay d-flex p-3">
									<div></div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Coffee Bean Caffeine Eye
										Cream</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-08.jpg"
									alt="Coffee Bean Caffeine Eye Cream">
								<div class="card-img-overlay d-flex p-3">
									<div></div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Coffee Bean Caffeine Eye
										Cream</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-10.jpg"
									alt="Coffee Bean Caffeine Eye Cream">
								<div class="card-img-overlay d-flex p-3">
									<div>
										<span class="badge badge-primary">-20%</span>
									</div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span
										class="fs-13 font-weight-500 text-decoration-through text-body pr-1">$39.00</span>
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Coffee Bean Caffeine Eye
										Cream</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="card border-0 product" data-animate="fadeInUp">
							<div class="position-relative">
								<img src="images/product-04.jpg" alt="Facial cleanser">
								<div class="card-img-overlay d-flex p-3">
									<div></div>
									<div class="my-auto w-100 content-change-vertical">
										<a href="#" data-toggle="tooltip" data-placement="left"
											title="View products"
											class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-shopping-bag-open-light fs-24">
                                                <use
													xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Quick view"
											class="preview ml-auto d-md-flex align-items-center justify-content-center cursor-pointer text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2 d-none">
											<span data-toggle="modal" data-target="#quick-view"> <svg
													class="icon icon-eye-light fs-24">
                                                    <use
														xlink:href="#icon-eye-light"></use>
                                                </svg>
										</span>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Add to wishlist"
											class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
											<svg class="icon icon-star-light fs-24">
                                                <use
													xlink:href="#icon-star-light"></use>
                                            </svg>
										</a> <a href="#" data-toggle="tooltip" data-placement="left"
											title="Compare"
											class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
											<svg class="icon icon-arrows-left-right-light fs-24">
                                                <use
													xlink:href="#icon-arrows-left-right-light"></use>
                                            </svg>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body pt-4 text-center px-0">
								<p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
									<span>$29.00</span>
								</p>
								<h2 class="card-title fs-15 font-weight-500 mb-2">
									<a href="product-detail-01.html">Facial cleanser</a>
								</h2>
								<div
									class="d-flex align-items-center justify-content-center flex-wrap">
									<ul class="list-inline mb-0 lh-1">
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
										<li class="list-inline-item fs-12 text-primary mr-0"><i
											class="fas fa-star"></i></li>
									</ul>
									<span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947
										reviews</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pt-9 pt-lg-10">
			<div class="container container-xl">
				<div class="row">
					<div class="col-12 col-lg-6 mb-6 mb-lg-0">
						<div
							class="card border-0 banner banner-01 hover-zoom-in hover-shine"
							data-animate="fadeInUp">
							<div class="card-img bg-img-cover-center"
								style="background-image: url('images/banner-21.jpg');"></div>
							<div
								class="card-img-overlay d-inline-flex flex-column p-6 px-md-8 py-md-7">
								<h6 class="card-subtitle mb-2 text-secondary letter-spacing-01">NEW
									COLLECTION</h6>
								<h3 class="card-title fs-34 lh-129" style="max-width: 240px">Mountain
									Pine Bath Oil</h3>
								<div class="mt-4">
									<a href="#"
										class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1">Explore
										More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div
							class="card border-0 banner banner-01 hover-zoom-in hover-shine"
							data-animate="fadeInUp">
							<div class="card-img bg-img-cover-center"
								style="background-image: url('images/banner-22.jpg');"></div>
							<div
								class="card-img-overlay d-inline-flex flex-column p-6 px-md-8 py-md-7">
								<h3 class="card-title fs-34 lh-129 mb-2">25% off Everything</h3>
								<p class="card-text text-secondary font-weight-500"
									style="max-width: 236px;">Makeup with extended range in
									colors for every human.</p>
								<div class="mt-2">
									<a href="shop-page-04.html"
										class="fs-16 font-weight-600 btn text-secondary hover-white bg-white bg-hover-secondary shadow-1">Shop
										Sale</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pt-lg-14 pb-lg-11 pt-10 pb-9">
			<div class="container text-center">
				<h3 class="mb-2 mx-auto lh-129 mb-7" style="max-width: 500px"
					data-animate="fadeInUp">Stay Up to Date with All News and
					Exclusive Offers</h3>
				<form class="mx-auto" style="max-width: 546px"
					data-animate="fadeInUp">
					<div class="input-group position-relative mb-6">
						<input type="email" class="border-0 form-control"
							placeholder="Enter your email address">
						<button type="submit"
							class="btn btn-secondary bg-hover-primary border-hover-primary">
							Subscribe</button>
					</div>
					<div class="form-group form-check" data-animate="fadeInUp">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label fs-14" for="exampleCheck1">I
							accept the <a href="#"
							class="border-bottom text-decoration-none border-gray-2">terms
								& conditions</a> and <a href="#"
							class="border-bottom text-decoration-none border-gray-2">the
								data protection</a>
						</label>
					</div>
				</form>
			</div>
		</section>
	</main>
</body>
</html>