<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<header
		class="main-header navbar-light header-sticky header-sticky-smart header-04"
		th:fragment="header">
		<div class="sticky-area bg-white">
			<div class="container container-xxl">
				<nav class="navbar navbar-expand-xl px-0 d-block">
					<div class="d-none d-xl-block">
						<div class="d-flex align-items-center flex-nowrap">
							<div class="w-50">
								<ul class="navbar-nav hover-menu main-menu px-0 mx-xl-n5">
									<li aria-haspopup="true" aria-expanded="false"
										class="nav-item dropdown-item-home dropdown py-2 py-xl-7 px-0 px-xl-5">
										<a class="nav-link p-0" th:href="@{/admin/account}"> User
											<span class="caret"></span>
									</a>
									</li>
									<li aria-haspopup="true" aria-expanded="false"
										class="nav-item dropdown-item-home dropdown py-2 py-xl-7 px-0 px-xl-5">
										<a class="nav-link p-0" th:href="@{/admin/product}"> Product <span
											class="caret"></span>
									</a>
									</li>
								</ul>
							</div>
							<div class="mx-auto flex-shrink-0 px-10">
								<div
									class="d-flex mt-3 mt-xl-0 align-items-center w-100 justify-content-center">
									<a class="navbar-brand mx-auto d-inline-block py-0"
										href="index.html"> <img th:src="@{/images/logo-black.png}"
										alt="Glowing">
									</a>
								</div>
							</div>
							<div class="w-50">
								<div class="d-flex align-items-center justify-content-end">
									<ul
										class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-0 navbar-right">
										<form th:action="@{/logout}" method="post"
											  aria-haspopup="true" aria-expanded="false"
											class="nav-item dropdown-item-home dropdown py-2 py-xl-7 px-0 px-xl-5">
											<button type="submit" value="Sign Out" class="nav-link p-0 logoutBtn"> Logout <span
												class="caret"></span>
										</button>
										</form>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
</body>

</html>